	* {
		margin: 0;
		padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
	}
    /* nav start */
    .logo{
        /* background-color: rgb(49, 46, 43); */
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        /* display: inline; */
    }
    nav ul{
        float: right;
        margin: auto;
    }
    nav ul li{
        display: inline-block;
        /* line-height: 80px; */
        margin: 25px 30px 10px 5px;
        color: white;
        border: black solid;
        border-radius: 10px;
        width: 76px;
        text-align: center;
    }
    .navbaar{
        background-color: rgba(169, 67, 190, 0.712);
    }
    nav ul li a{
        color: white;
        font-size: 19px;
    }
    nav ul li a:hover{
        color: black;   
    }
    .banner-area{
        width: 100%;
        height: 100vh;
        background:linear-gradient(rgba(27, 27, 27, 0.4),rgba(82, 81, 81, 0.4)), url("image.jpg");
        background-size: cover;
        color: white;
    }
    .content-area{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        text-align: center;
    }
    .content h1{
        font-size: 80px;
    }
    .content p{
        font-size: 30px;
    }
    /* nav end */
	.background {
		background:linear-gradient(rgba(27, 27, 27, 0.4),rgba(49, 49, 49, 0.4)), url("/212.jpg");
		background-blend-mode: darken;
		background-size: cover;
	}

	.firstsection {
		height: 100vh;
	}

	.box-main {

		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(255, 255, 255);
		max-width: 50%;
		margin: auto;
		height: 80%;
	}
	.firstHalf {
		width: 75%;
		display: flex;
		flex-direction: column;
		justify-content: center
	}
	.firstHalf img {
		display: flex;
		border-radius: 9050px;
	}
	.text-big {
		font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 41px;
		text-align: center;
	}
	.text-small {
		font-family: 'Sansita Swashed', cursive;
		font-size: 18px;
		text-align: center;
	}
	#service {
    background-color: rgb(182, 139, 79);
		margin: 34px;
		display: flex;
	}
	#service .box {
		padding: 45px;
		margin: 3px 6px;
		border-radius: 28px;
	}
		#service .box img {
		margin-top: 20px;
		height: 100px;
		margin: auto;
		display: block;
		border-radius: 200px;
	}
	#service .box p {
		font-family: sans-serif;
		text-align: center;
	}
	.center {
		text-align: center;
	}
/* footer start */
.footer-clean {
    padding:50px 0;
    background-color:rgb(36, 33, 33);
    color:#b2b4b6;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
/* footer end */