*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* login start */

.logo{
    /* background-color: rgb(49, 46, 43); */
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    /* display: inline; */
}
nav ul{
    float: right;
    margin: auto;
}
nav ul li{
    display: inline-block;
    /* line-height: 80px; */
    margin: 25px 30px 10px 5px;
    color: white;
    border: black solid;
    border-radius: 10px;
    width: 76px;
    text-align: center;
}
.navbaar{
    background-color: rgba(169, 67, 190, 0.712);
}
nav ul li a{
    color: white;
    font-size: 19px;
}
nav ul li a:hover{
    color: black;   
}
.banner-area{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(27, 27, 27, 0.4),rgba(82, 81, 81, 0.4)), url("image.jpg");
    background-size: cover;
    color: white;
}
.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 80px;
}
.content p{
    font-size: 30px;
}

/* login end */

.hero{
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(74457.png); */
    background-size: cover;
    position: absolute;
    background-image:linear-gradient(rgba(27, 27, 27, 0.4),rgba(82, 81, 81, 0.4)), url("/Death+by+chocolate.jpg");
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(189, 158, 158);
    border-radius: 50px;
    padding: 5px;
    border-radius: 50px ;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px #ff61241f; */
    border-radius: 30px;
}
.toggle-btn{
    /* padding: 10px 30px; */
    padding: 5px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    border: black solid;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 25px;
}
.toggle-btn:hover{
    /* background-color: green; */
    color:thistle;
    border-radius: 25px;
    
}
.btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 40px;
    /* background: linear-gradient(to right, #ff5ea2, #ff3527); */
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50px;
}
.input-login{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    text-align: center;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    /* background: linear-gradient(to right, #ff5ea2, #ff3527); */
    background-color: rgb(87, 250, 87);
    color: whitesmoke;
    border: none;
    border-radius: 30px;
    
}
.chech-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px ;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
