*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.logo{
    /* background-color: rgb(49, 46, 43); */
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    /* display: inline; */
}
nav ul{
    float: right;
    margin: auto;
}
nav ul li{
    display: inline-block;
    /* line-height: 80px; */
    margin: 25px 30px 10px 5px;
    color: white;
    border: black solid;
    border-radius: 10px;
    width: 76px;
    text-align: center;
}
.navbaar{
    background-color: rgba(169, 67, 190, 0.712);
}
nav ul li a{
    color: white;
    font-size: 19px;
}
nav ul li a:hover{
    color: black;   
}
.banner-area{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(27, 27, 27, 0.4),rgba(82, 81, 81, 0.4)), url("image.jpg");
    background-size: cover;
    color: white;
}
.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 80px;
}
.content p{
    font-size: 30px;
}
